select,
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  background: #fff;
  display: block;
  margin-top: 1rem;
  border-radius: 3px;
  border: 1px solid $lighter-grey;
  @include no-outline();
}

select[multiple] option {
  padding: .25rem;
}