.section-5 {
  height: 1000px;
  margin-top: -15rem;
  background: radial-gradient(circle at center, transparent 32%, #261e3b 65%),
  url("../assets/images/bg-1.jpg");
  background-size: cover;
}

.section-5 .container,
.section-5 .row {
  height: 100%;
}
